.footer{
    background-color: var(--background-color-2);
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: var(--text-color-3);
    h1{
        font-size: 0.75rem;
        font-weight: 500;
        margin: 5px 0 0 0;
    }
    p{
        font-size: 0.95rem;
        margin: 0;
    }
}